
  @import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Kanit:wght@400;700&family=Permanent+Marker&display=swap');



* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   
   /* font-family: 'Gochi Hand', cursive;
font-family: 'Permanent Marker', cursive; */
}
body{
    font-family: 'Kanit', sans-serif;
    background-color: var(--background-color);
}
:root {
    --background-color: #111010;
    --pink-decoration: #F196A8;
    --curious-facts: #C17AA6;
    --text: #D1D1D1;
}
.header-container{
    width: 100vw;
    height: 75px;
    background-color: var(--pink-decoration);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gochi Hand';
    
}
.logo{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    
}
h1{
    margin-right: 20px;
}
.main-text{
    color: var(--text);
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 35px;
}
.curious-facts {
    color: var(--curious-facts);
    border:4px solid var(--pink-decoration);
    margin:35px ;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.favourites-button{
    background-color: var(--pink-decoration);
    width: 142px;
    height: 51px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 32px;
    font-family: 'Kanit', sans-serif;
    border-radius: 15px;
    border:none;
}


.next-button{
    background-color: var(--background-color);
    border: none;
}


.footer-title {
    color:var(--text);
    font-size:24px;
    text-align: center;
    margin-top: 55px;
    
}

#list {
    list-style: none;
}

.favourite-item{
    color: var(--background-color);
    margin:15px 35px 15px 35px;
    background-color: var(--pink-decoration);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

@media (min-width: 992px){
    
    .header-container{
        height: 100px;
    }
    .logo{
        width: 110px;
        height: 110px;
        margin-left: 20px;
        
    }
    h1{
        margin-right: 50px;
        font-size: 50px;
    }
    .main-text{ 
        font-size: 50px;
    }
    .curious-facts {
        margin:40px 210px ;
        font-size: 40px;
    }
    
    
    .footer-title {
        font-size:50px;
    }
    
    .favourite-item{
        margin:40px 210px;
        padding: 20px;
        font-size: 25px;
    }
    .favourites-button:hover{
    
        transform: scale(1.25);
    }
    .next-button:hover{
        transform:scale(1.25)
    }
    }

